@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap');

:root{
  --main-color:#8e44ad;
  --red: #e74c3c;
  --orange:#f39c12;
  --white:#fff;
  --black:#2c3e50;
  --light-color:#888;
  --light-bg:#eee;
  --border:.1rem solid rgba(0,0,0,0.2);
}

*::selection{
  background-color: var(--main-color);
  color: #fff;
}

*::-webkit-scrollbar{
  height: 5rem;
  width:1rem;
}

*::-webkit-scrollbar-track{
  background-color: white;
}

*::-webkit-scrollbar-thumb{
  background-color: var(--main-color);
}

html{
  font-size:62.5%;
  overflow-x: hidden;
}

body{
  background-color: var(--light-bg);
}

section{
  padding:2rem;
  max-width: 1200px;
  margin:0 auto;
}

.header{
  background-color: var(--white);
  border-bottom: var(--border);
  position: sticky;
  top:0; left:0;right:0;
  z-index:1000;
}

.header .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.header .flex .logo{
  font-size: 2.5rem;
  color: var(--black);
  font-weight: bolder;
}

.header .flex .search-form{
  width:50rem;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--light-bg);
}

.header .flex .search-form input {
  width: 100%;
  background: none;
  font-size: 1.8rem;
  color: var(--black);
}

*{
  font-family: 'Nunito', sans-serif;
  margin: 0; padding: 0;
  box-sizing: border-box;
  outline: none; border: none;
  text-decoration: none;
}

.header .flex .icons {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header .flex .icons > div {
  font-size: 2.1rem;
  color: var(--main-color);
  cursor: pointer;
}

.header .flex .icons > div:hover {
  color: var(--black);
}

#search-btn{
  display: none;
}

.header .flex .profile {
  position: absolute;
  top: 120%; right: 2rem;
  background-color: var(--white);
  border-radius: .5rem;
  padding: 2rem;
  text-align: center;
  width: 30rem;
}

.header .flex .profile img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: .5rem;
}


.side-bar{
  position: fixed;
  top: 0; left: 0;
  width: 30rem;
  background-color: var(--white);
  height: 100vh;
  border-right: var(--border);
  z-index: 1200;
}

.side-bar #close-btn{
  text-align: right;
  padding: 2rem;
  display: none;
}

.side-bar #close-btn i{
  text-align: right;
  font-size: 2.5rem;
  background:var(--red);
  border-radius: .5rem;
  color:var(--white);
  cursor: pointer;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
}

.side-bar #close-btn i:hover{
  background-color: var(--black);
}

.side-bar .profile{
  padding:3rem 2rem;
  text-align: center;
}

.side-bar .profile .image{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: contain;
  margin-bottom: 1rem;
}

.side-bar .profile .name{
  font-size: 2rem;
  color:var(--black);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.side-bar .profile .role{
  font-size: 1.8rem;
  color: var(--light-color);
}

.side-bar .navbar a{
  display: block;
  padding: 2rem;
  font-size: 2rem;
}

.side-bar .navbar a i{
  margin-right: 1.5rem;
  color:var(--main-color);
  transition: .2s linear;
}

.side-bar .navbar a span{
  color:var(--light-color);
}

.side-bar .navbar a:hover{
  background-color: var(--light-bg);
}

.side-bar .navbar a:hover i{
  margin-right: 2.5rem;
}

.side-bar.active{
  left: -30rem;
}
@media (max-width:1200px){

  body{
     padding-left: 0;
  }

  .side-bar{
     left: -30rem;
     transition: .2s linear;
  }

  .side-bar #close-btn{
     display: block;
  }

  .side-bar.active{
     left: 0;
     box-shadow: 0 0 0 100vw rgba(0,0,0,.8);
     border-right: 0;
  }

}
